body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 350px;
  text-align: center;
}

h1 {
  color: #1a73e8;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input {
  width: 80%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.botones {
  margin-top: 15px;
}

button {
  background-color: #1a73e8;
  color: white;
  border: none;
  padding: 8px 12px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #0b59d0;
}

#resultado {
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
